#header {
    background: linear-gradient(50deg, #fdf3e9 30%, #050812);
}

body {
    background: url(/assets/images/mainBg.jpg) no-repeat;
    background-size: cover;
}

#firstText {
    background: url(/assets/images/cardBg.jpg) no-repeat;
    background-size: cover;
}

#sorat {
    background: url(/assets/images/soraat.jpg) no-repeat bottom;
    background-size: cover;
}

#deghat {
    background: url(/assets/images/deghat.jpg) no-repeat left;
    background-size: cover;
}

#mohasebe {
    background: url(/assets/images/mohasebat.jpg) no-repeat;
    background-size: cover;
}

#contacts {}

footer {
    background: linear-gradient(180deg, #fdf3e9 50%, #050812);
}

article>p:not(:first-child) {
    display: inline-block;
    margin-top: 40px;
}

footer>a {
    display: block;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #97362f;

    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}