#header {
    background: linear-gradient(50deg, #fdf3e9 30%, #050812);
}

body {
    background: url(/assets/images/mainBg.jpg) no-repeat;
    background-size: cover;
}

#firstText {
    background: url(/assets/images/cardBg.jpg) no-repeat;
    background-size: cover;
}

#sorat {
    background: url(/assets/images/soraat.jpg) no-repeat bottom;
    background-size: cover;
}

#deghat {
    background: url(/assets/images/deghat.jpg) no-repeat left;
    background-size: cover;
}

#mohasebe {
    background: url(/assets/images/mohasebat.jpg) no-repeat;
    background-size: cover;
}

#contacts {}

footer {
    background: linear-gradient(230deg, #fdf3e9 50%, #050812);
}